@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
        @if (Model.GeneralImageUrl == null)
        {
            <p>image not found</p>
        }
        else
        {
            <img src="~/UploadedFiles/@Url.Content(Model.GeneralImageUrl)" width="200" height="300" alt="image not found" />
        }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.FirstName)
            @Html.DisplayFor(model => model.Director.LastName)
        </dd>

    </dl>
</div>
<button class="btn btn-default">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</button>
<button class="btn btn-default">
    @Html.ActionLink("Back to List", "Index")
</button>
